@page "/thankyou"
<img src="images/libraryimage.png" alt="library Image" height="60" width="60" />
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="card-title">Thank You for Using the Library!</h2>
                    <p class="card-text">We appreciate your visit and hope you enjoy the books you've selected.</p>
                    <a href="/" class="btn btn-primary">Back to Home Page</a>
                </div>
            </div>
        </div>
    </div>
</div>